body {
    font-size: 16px;
    color: 	#FFFF00;
    width:100%;
    font-family: 'Oxygen', sans-serif;
  }
  
  .main_page, .matches-back, .team-back, .award-back  {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      height: auto;
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  

  .info-back {
    background-image: url('../img/1616548215_16-p-futbol-fon-17.jpg');
    background-size: cover;
    background-position: top center;
  }


  /* #region HEADER */
  #header-nav {
    background-color: #FFFFFF;
    border-radius: 0;
    border: 0;
  }
  
  .logo_img {
    width: 50px;
    height: 50px;
  }

  #logo-img {
    background: url('../img/FC_Dynamo_Kyiv_logo.svg\ \(1\).png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
  }
  
  .navbar-brand {
    padding-top: 25px;
  }
  .navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #127edd;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  .navbar-brand p { /* Kosher cert */
    color: #127edd;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
  }
  .navbar-brand p span { /* Star-K */
    vertical-align: middle;
  }
  
  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #127edd;
    text-align: center;
  }
  #nav-list a:hover {
    background: #d4eaff;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  
  #phone {
    margin-top: 5px;
  }
  #phone a { /* Phone number */
    text-align: right;
    padding-bottom: 0;
  }
  #phone div { /* We Deliver */
    color: #127edd;
    text-align: right;
    padding-right: 15px;
  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #127edd;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  /* #endregion END HEADER */
  
  /* #region FOOTER */
  .panel-footer {
    margin-top: 0px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
  }
  .panel-footer div.row {
    margin-bottom: 35px;
  }
  #hours, #address {
    line-height: 2;
  }
  #hours > span, #address > span {
    font-size: 1.3em;
  }
  #address p {
    color: #127edd;
    font-size: .8em;
    line-height: 1.8;
  }
  #testimonials {
    font-style: italic;
  }
  #testimonials p:nth-child(2) {
    margin-top: 25px;
  }
  /* #endregion END FOOTER */
  
  /* #region HOME PAGE */
  .container .jumbotron {
    box-shadow: 0 0 50px #1375cb;
    border: 2px solid #1375cb;
  }
  
  #menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #1375cb;
    overflow: hidden;
  }
  #menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
  }
  #menu-tile {
    background: url('../img/63801179009683.jpg') no-repeat;
    background-position: center;
  }
  #specials-tile {
    background: url('../img/6f4814a392dee3c14d8c6924ab7a9e74.jpg') no-repeat;
    background-position: center;
  }
  #menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
  }

  .sliders {
    position: absolute;
    margin-left: -62px;
    margin-top: -50px;
    width: 1140px;
    height: 676px;
    border-radius: 10px;
    overflow: hidden;
}

  .slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 100%;
}

/* manual slide navigation */

.navigation-manual {
    position: absolute;
    width: 1160px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #3232cd;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #3232cd;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

/* END manual slide navigation */

/* start automatic slide navigation */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1160px;
    justify-content: center;
    margin-top: 636px;
}

.navigation-auto div{
    border: 2px solid #3232cd;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #3232cd;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #3232cd;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #3232cd;
}
  /* #endregion END HOME PAGE */
  
  /* #region MENU CATEGORIES PAGE */
  .category-tile { 
    position: relative;
    border: 2px solid #127edd;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
  }
  .category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
  }
  .category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
  }
  
  #menu-categories-title + div {
    margin-bottom: 50px;
  }
  /* #endregion END MENU CATEGORIES PAGE */
  
  /* #region SINGLE CATEGORY PAGE */
  .menu-item-tile {
    margin-bottom: 25px;
  }
  .menu-item-tile hr {
    width: 80%;
  }
  .menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin-top: -15px;
    margin-right: -15px;
  }
  .menu-item-tile .menu-item-price span {
    font-size: .6em;
  }
  .menu-item-photo {
    position: relative;
    border: 2px solid #127edd; 
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 450px;
  }
  .menu-item-photo div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: #4b7da9;
    text-align: center;
  }
  .menu-item-description {
    padding-right: 30px;
  }
  h3.menu-item-title {
    margin: 0 0 10px;
  }
  .menu-item-details {
    font-size: .9em;
    font-style: italic;
  }

  .VS_matches {
    color: #1150b5d8;
    font-weight: bold;
  }

  .menu-item-photo-award {
    position: relative;
    border: 2px solid #127edd; 
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 1250px;
    max-height: 1400px;
  }

  .button-back {
  position: absolute;
  margin-top: 25px;
  margin-left: 750px;
  }
  
  
  .button-back {
    color: #127edd;
    font-family: 'Oxygen';
    line-height: 16px;
    width: 100px;
    height: 56px;
    font-weight: bold;
    font-size: 14px;
    background: linear-gradient(180deg, rgba(238, 252, 39, 0.6) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(253.58deg, #ffff00 1.55%, #ffee00 1.56%, #f6ff00 95.8%);
    border: 12px;
    border-radius: 100px;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.25);
  }
  
  
  .button-back:hover {
    color: #f9f226;
    background: linear-gradient(180deg, rgba(175, 193, 226, 0.6) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(253.58deg, #029cf5 1.55%, #088ce4f6 1.56%, #4823e9 95.8%);
    box-shadow: 0px 12px 35px rgba(2, 47, 248, 0.822);
    transition: 500ms;
    font-weight: bold;
    cursor: pointer;
  }
  



  /* #endregion END SINGLE CATEGORY PAGE */

  /* #region SLIDER START */
  .slider {
    width: 600px;
    height: 534px;
    overflow: hidden;
    position: relative;
}

.slider div:first-child{
    display: block;
}
.slider div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    background-size: cover;
}
.slider slider-img:first-child{
    display: block;
    position: relative;
}
.slider-controls {
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-controls button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #f9f226;
    color: #002ead;
    font-style: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
}

.slider-controls button:hover {
  background-color:#002ead;
  transition: 0.7s;
  color: #f9f226;
}

.slider-controls button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #002ead;
  transition: 0.7s;
}

.team_info_hover{
    color: #e1e1e1;
    text-align: center;
    margin-top: 65%;
    width: 100%;
    height: 100%;
    background-color: #0000008d;
    position: absolute;
    opacity: 1;
    bottom: 0;
    right: 0;
}

/* #region Start Photos for Slider */
.photo-1 {
  background-image: url(../img/Team/buschan.png);
}

.photo-2 {
  background-image: url(../img/Team/vivcharenko.png)
}

.photo-3 {
  background-image: url(../img/Team/popov.png)
}

.photo-4 {
  background-image: url(../img/Team/karavaiev.png)
}

.photo-5 {
  background-image: url(../img/Team/benito.png)
}

.photo-6 {
  background-image: url(../img/Team/sidorchuk.png)
}

.photo-7 {
  background-image: url(../img/Team/lonweik.png)
}

.photo-8 {
  background-image: url(../img/Team/shepelev.png)
}

.photo-9 {
  background-image: url(../img/Team/buyalskyi.png)
}

.photo-10 {
  background-image: url(../img/Team/tsarenko.png)
}

.photo-11 {
  background-image: url(../img/Team/vanat.png)
}

.photo-12 {
  background-image: url(../img/Team/ramirez.png)
}
/* #endregion End Photos for Slider */
/*team_info_hover:hover{
    display: block;
}*/

 /* #endregion END SLIDER */
 
  /* #region Adaptations */
  
  /********** Large devices only **********/
  @media (min-width: 1200px) {
    .container .jumbotron {
      height: 675px;
    }
  }

  .sliders {
    position: absolute;
    margin-left: -62px;
    margin-top: -50px;
    width: 1140px;
    height: 676px;
    border-radius: 10px;
    overflow: hidden;
}
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
    /* Header */
    #logo-img {
      background: url('../img/FC_Dynamo_Kyiv_logo.svg\ \(1\).png') no-repeat;
      margin: 5px 5px 5px 0;
    }
    /* End Header */
    body {
      background-size: 1050px;
      background-position: top center;
      background-color: blue;
    }
    
    /* Home Page */
    .container .jumbotron {
      height: 558px;
    }

    .sliders {
      position: absolute;
      margin-left: -62px;
      margin-top: -50px;
      width: 945px;
      height: 560px;
      border-radius: 10px;
      overflow: hidden;
  }

  .navigation-manual {
    position: absolute;
    width: 945px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
  border: 2px solid #3232cd;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #3232cd;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}


.navigation-auto {
    position: absolute;
    display: flex;
    width: 945px;
    justify-content: center;
    margin-top: 636px;
}

.navigation-auto div{
  border: 2px solid #3232cd;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #3232cd;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #3232cd;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #3232cd;
}

    /* End Home Page */
    .button-back {
      position: absolute;
      margin-top: 25px;
      margin-left: 650px;
      }


  }
  
  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    body {
      background-size: 950px;
      background-position: top center;
      background-color: blue;
    }
    
    /* Home Page */
    .container .jumbotron {
      height: 432px;
    }

    .sliders {
      position: absolute;
      margin-left: -62px;
      margin-top: -50px;
      width: 720px;
      height: 435px;
      border-radius: 10px;
      overflow: hidden;
  }

  .navigation-manual {
    position: absolute;
    width: 725px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 725px;
    justify-content: center;
    margin-top: 636px;
}

    /* End Home Page */
    .button-back {
      position: absolute;
      margin-top: 25px;
      margin-left: 550px;
      }
  }



  /********** Extra small devices only **********/
  @media (min-width: 479px) and (max-width: 768px) {
    /* Header */
    .navbar-brand {
      padding-top: 10px;
      height: 90px;
    }
    .navbar-brand h1 { /* Restaurant name */
      padding-top: 10px;
      font-size: 5vw; /* 1vw = 1% of viewport width */
    }
    .navbar-brand p { /* Kosher cert */
      font-size: .6em;
      margin-top: 12px;
    }
    .navbar-brand p img { /* Star-K */
      height: 40px;
      width: 50px;
    }
  
    #collapsable-nav a { /* Collapsed nav menu text */
      font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
      font-size: 1em;
      margin-right: 5px;
    }
  
    #call-btn > a {
      font-size: 1.5em;
      display: block;
      margin: 0 20px;
      padding: 10px;
      border: 2px solid #4b7da9;
      background-color: #fff;
      color: #127edd;
    }
    #xs-deliver {
      margin-top: 5px;
      font-size: .7em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
    /* End Header */
    /* Footer */
    .panel-footer section {
      margin-bottom: 30px;
      text-align: center;
    }
    .panel-footer section:nth-child(3) {
      margin-bottom: 0; /* margin already exists on the whole row */
    }
    .panel-footer section hr {
      width: 50%;
    }
    /* End Footer */
  
    /* Home Page */
    .container .jumbotron {
      height: auto;
      border-radius: 12px;
      margin-top: 30px;
      padding: 0;
    }

    .sliders {
      position: relative;
      margin-left: 0px;
      margin-top: -5px;
      width: auto;
      height: auto;
      border-radius: 10px;
      overflow: hidden;
  }

  .navigation-manual {
    position: absolute;
    width: 725px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 725px;
    justify-content: center;
    margin-top: 636px;
}


    #menu-tile, #specials-tile {
      width: 360px;
      margin: 0 auto 15px;
    }
  
    .menu-item-photo {
      margin-right: auto;
    }
    .menu-item-tile .menu-item-price {
      text-align: center;
    }
    .menu-item-description {
      text-align: center;;
    }
    .button-back {
      position: absolute;
      margin-top: 100px;
      margin-left: 320px;
      }
  }
  


  
  /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
  @media (max-width: 479px) {
    /* Header */
    .navbar-brand h1 { /* Restaurant name */
      padding-top: 5px;
      font-size: 6vw;

    }

    .team_info_hover{
      color: #e1e1e1;
      text-align: center;
      margin-top: 95%;
      width: 100%;
      height: 100%;
      background-color: #0000008d;
      position: absolute;
      opacity: 1;
      bottom: 0;
      right: 0;
  }
  
    /* End Header */
    
    /* Home page */
    #menu-tile, #specials-tile {
      width: 280px;
      margin: 0 auto 15px;
    }
  
    .col-xxs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 100%;
    }

    .button-back {
      position: absolute;
      margin-top: 100px;
      margin-left: 175px;
      }
      .navbar-brand {
        padding-top: 10px;
        height: 90px;
      }
      .navbar-brand h1 { /* Restaurant name */
        padding-top: 10px;
        font-size: 5vw; /* 1vw = 1% of viewport width */
      }
      .navbar-brand p { /* Kosher cert */
        font-size: .6em;
        margin-top: 12px;
      }
      .navbar-brand p img { /* Star-K */
        height: 40px;
        width: 50px;
      }
    
      #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
      }
      #collapsable-nav a span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
      }
    
      #call-btn > a {
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #4b7da9;
        background-color: #fff;
        color: #127edd;
      }
      #xs-deliver {
        margin-top: 5px;
        font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
      }

      .sliders {
        position: relative;
        margin-left: 0px;
        margin-top: -5px;
        width: auto;
        height: auto;
        border-radius: 3px;
        overflow: hidden;
    }

    .navigation-manual {
      position: absolute;
      width: auto;
      margin-top: auto;
      display: none;
      justify-content: center;
  }
  .navigation-auto {
      position: absolute;
      display: none;
      width: auto;
      justify-content: center;
      margin-top: auto  ;
  }


      /* End Body */
      /* Footer */
      .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
      }
      .panel-footer section:nth-child(3) {
        margin-bottom: 0; /* margin already exists on the whole row */
      }
      .panel-footer section hr {
        width: 50%;
      }
      /* End Footer */
    
      /* Home Page */
      .container .jumbotron {
        margin-top: 30px;
        padding: 0;
      }
      #menu-tile, #specials-tile {
        width: 360px;
        margin: 0 auto 15px;
      }
    
      .menu-item-photo {
        margin-right: auto;
      }
      .menu-item-tile .menu-item-price {
        text-align: center;
      }
      .menu-item-description {
        text-align: center;;
      }
      .button-back {
        position: absolute;
        margin-top: 100px;
        margin-left: 200px;
        }
    }

/* #endregion END Adaptations */

